name: linux-aarch64
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'cmake-win/**'
      - 'tools/**'
      - '*.md'
      - '.clangd-template'
      - '.gitignore'
      - '.git-blame-ignore-revs'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'cmake-win/**'
      - 'tools/**'
      - '*.md'
      - '.clangd-template'
      - '.gitignore'
      - '.git-blame-ignore-revs'
  workflow_dispatch:

env:
  CCACHE_DIR: /tmp/.ccache

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container: whrvt/neosu-linux-aarch64:latest
    defaults:
      run:
        working-directory: .

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up build directory
        run: |
          mkdir -p "$(pwd)"/build-out/build
          mkdir -p "$(pwd)"/build-out/.ltocache-gcc
          mkdir -p "$(pwd)"/build-out/.ltocache-clang
          mkdir -p ${{ env.CCACHE_DIR }}

      - name: Cache dependency tarballs
        uses: actions/cache@v5.0.1
        with:
          path: |
            build-aux/cache
          key: tarballs-linux-aarch64-${{ hashFiles('configure.ac', 'Makefile.am') }}
          restore-keys: |
            tarballs-linux-aarch64-
            tarballs-linux-

      - name: Cache built dependencies
        uses: actions/cache@v5.0.1
        with:
          path: |
            build-out/build/deps
          key: deps-linux-aarch64-${{ hashFiles('configure.ac', 'Makefile.am') }}
          restore-keys: |
            deps-linux-aarch64-

      - name: ccache
        uses: actions/cache@v5.0.1
        with:
          path: |
            ${{ env.CCACHE_DIR }}
            build-out/.ltocache-gcc
            build-out/.ltocache-clang
          key: ccache-linux-aarch64-${{ github.sha }}
          restore-keys: |
            ccache-linux-aarch64-

      - name: Building neomod
        run: |
          ./autogen.sh
          export MAKEFLAGS="-j$(nproc)"
          export CCACHE_DIR="${{ env.CCACHE_DIR }}"
          cd build-out && \
          ../configure \
            ${{ (github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/dev') && '--disable-strip' || '' }} \
            --host=aarch64-pc-linux-gnu && \
          make install

      - name: Package artifacts (fix symlinks)
        run: |
          cd build-out
          zip -r -y -8 bin.zip ./dist/bin-*/
          rm -rf dist/*
          mv bin.zip dist/

      - uses: actions/upload-artifact@v6.0.0
        with:
          name: neomod-linux-aarch64
          path: build-out/dist
